.headerPageBg {
    background: #f5f5f5;
    border-radius: 0.6rem;
}

table {
    box-shadow: 0 2px 10px #c0c0c0;
}

tr {
    cursor: pointer;
}

tr:hover {
    background: #f3f3f3;
}

th {
    background: #5874ff !important;
    color: white;
    border: 1px solid #28259b !important;
    border-bottom: 2px solid #28259b !important;
    padding: 0.5rem 0.2rem !important;
    text-align: center;
}
th:last-child {
    width: 80px;
}

td {
    padding: 0.4rem 0 !important;
    text-align: center;
    font-size: 1rem !important ;
    border: solid 1px #28259b !important;
}

#tbChamados td {
    font-size: 0.95rem !important ;
}

a {
    color: #1538d2;
    text-decoration: none;
}

.imgAnalista {
    height: 40px;
}
